extends layout


block left
    include partials/layout-sidebars-left

block content
    //-Margin top with 1.5 spacer
    div(class= "mt-4")
        h5(class= "mb-4") Startseite

        //Represent each post chronological
        include partials/posts


block right
    include partials/layout-sidebars-right