extends layout


block left
    include partials/layout-sidebars-left

block content
    //-Margin top with 1.5 spacer
    div(class= "mt-4")
        h5(class= "mb-4") Registrierte Nutzer

        //-Loop through each user
        ul(class= "list-group")
            include partials/userlist


block right
    include partials/layout-sidebars-right